<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <div class="pane">
    <div class="header">
      <h1>Delete Menu Item: {{ item_name }}</h1>
    </div>
    <div>
      <form action="{{ url_for('deleteMenuItem', rest_id=rest_id, item_id=item_id) }}" method="post">
        <div>
          <p>Are you sure?</p>
          <input type="submit" value="Delete">
          <a href="{{ url_for('listRestaurantMenuItems', rest_id=rest_id) }}">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</body>

</html>
