<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <div class="pane">
    <div class="flash">
      {% with messages = get_flashed_messages() %} {% if messages %}
      <ul>
        {% for message in messages %}
        <li><strong>{{ message }}</strong></li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %}
    </div>
    <div class="header">
      <h1>{{ restaurant.name }}</h1>
    </div>
    <div>
      <h3><a href="{{ url_for('listRestaurants') }}">All Menus</a></h3>
      <h2><a href="{{ url_for('addMenuItem', rest_id=restaurant.id) }}">Add Menu Item</a></h2>
    </div>
    {% for i in items %}
    <div>
      <div class="nameAndPrice">
        <span class="name"><p>{{i.name}}</p></span>
        <span class="price"><p>{{i.price}}</p></span>
      </div>
      <div class="description">
        <p>Description: {{i.description}}</p>
      </div>
      <div class="editLinks">
        <a href="{{ url_for('editMenuItem', rest_id=restaurant.id, item_id=i.id) }}">Edit</a>
        <a href="{{ url_for('deleteMenuItem', rest_id=restaurant.id, item_id=i.id) }}">Delete</a>
      </div>
    </div>
    {% endfor %}
  </div>
</body>

</html>
